# Closure loop
snippet rd
	render: ->
		${0}

snippet cwm
	componentWillMount: ->
		${0}

snippet cdm
	componentDidMount: ->
		${0}

snippet evt
	_on${1}: (${2:e})->
		${3:e.preventDefault()}

		${0}

snippet mixin
	mixins: [ ${1:object} ]

	${0}

snippet sst
	@setState
		${1:state}: ${2:value}
	${0}

snippet $
	$ ${1:component}, { ${2:props} }, ${3:value}

snippet chg
	_onChange${1}: (e) ->
		@setState
			${2}: e.target.value
	${0}
